Device Name:  {{ inventory_hostname }}
Make: {{ Make }}
Model: {{ Result.system_info.marketing_name }} 
Serial Number: {{ Result.system_info.host_board_serial }}
Software Version: {{ Result.system_info.product_version }}

